@font-face {
    font-family: "NATS";
    src:
        url("fonts/NATS-Regular.woff2") format("woff2"),
        url("fonts/NATS-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*
.container {
    border: px solid pink;
    background-color: #feefdf;
}
*/

.title {
    /* https://stackoverflow.com/questions/8384751/css-text-gradient */
    font-family: NATS;
    /*
    background: #ffffff;
    background: linear-gradient(90deg,rgba(230, 170, 170, 1) 0%, rgba(220, 47, 98, 0.87) 14%, rgba(255, 133, 133, 1) 50%, rgb(247, 167, 53) 100%);
    background-clip: text;
    color: transparent;
    */
    text-align: center;
    text-shadow: 1px 3px 7px #ffff;
    letter-spacing: 5px;
}

.section {
    width: 500px;
    height: 600px;
}

.header {
    /* https://cssgradient.io/ */
    font-family: NATS;
    letter-spacing: 1.5px;

    background-color: #feefdf;

    /* background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(250, 177, 186, 1) 60%);
     * background-color: lightyellow */
}
.header,
.footer {
    background-color: #feefdf;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0.75rem 1rem;
    border-radius: 4px;
}

.footer {
    font-family: NATS; /* same as header */
    background-color: #feefdf;
    text-align: center;
    padding: 1rem 0;
}

.footer-logo {
    height: 50px;
    margin-bottom: 0.3rem;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.gallery img {
    width: 100%;
    max-width: 350px; /* small images */
    height: auto;
    display: block;
    margin: 0 auto;   /* center inside column */
}

.large-img {
    width: 350px;
    height: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* center in column */
}

img {
    object-fit: cover;
}


.small-img {
    width: 250px;
    height: 250px;
}
